html, body {
    background: lightgray;
    color:black;
    background-image:url(https://www.toptal.com/designers/subtlepatterns/uploads/triangles_pattern.png);
    height:100%;
}

#red {
    color:red;
}

#green {
    color: green;
}

.left {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}

.image {
    position:fixed;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
    top:100px;
}

.image img {
    position:static;
    top:300px;
    width: 20%;
    height:500px;
    border-radius:8px;
}

.right {
    position:absolute;
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
    top:0;
    right:0;
    gap:10px;
}

.colored-word {
    position:relative;
}