html, body {
    background: lightgray;
    color:black;
    background-image:url(https://www.toptal.com/designers/subtlepatterns/uploads/triangles_pattern.png);
    height:100%;
}

#red {
    color:red;
}

#green {
    color: green;
}

.left {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    font-size:large;
}

.image {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:275px;
    bottom:200px;
}

img {
    position:absolute;
    width:275px;
    height:450px;
    border-radius:8px;
}

.image-text {
    position:absolute;
    background-color:lightblue;
    justify-content:space-between;
    top:375px;
}

.right {
    position:fixed;
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
    top:0;
    right:0;
    gap:10px;
    margin:10px
}

.colored-word {
    position:relative;
}
